name: Build and Test Conda Package

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*' # Trigger on version tags like v1.0.0
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    name: Build Conda Package (Python ${{ matrix.python-version }} | ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge,bioconda,defaults
          channel-priority: strict
          activate-environment: barcodeforge-build

      - name: Install conda-build
        shell: bash -l {0}
        run: |
          conda install -n base conda-build -y
          conda info
          conda list -n base

      - name: Build conda package
        shell: bash -l {0}
        run: |
          conda build . --python ${{ matrix.python-version }} -c conda-forge -c bioconda -c defaults --output-folder ./conda-bld --no-anaconda-upload

      - name: Install and test built package
        shell: bash -l {0}
        run: |
          conda install --use-local barcodeforge -n barcodeforge-build -y
          barcodeforge --help

      - name: Run python tests
        shell: bash -l {0}
        run: |
          # Install additional dependencies for testing
          pip install '.[dev-requirements,test-requirements]'
          pytest -v --tb=short

      - name: Run barcode generation test
        shell: bash -l {0}
        run: |
          barcodeforge --debug barcode barcodeforge/assets/reference.fasta barcodeforge/assets/aligned.fasta barcodeforge/assets/tree.nwk barcodeforge/assets/lineages.tsv --matutils-overlap 0.8 --threads 4 --prefix RSVa
          diff -q barcode.csv barcodeforge/assets/RSVa-barcode.csv || (echo "Files are not identical!" && exit 1)

      - name: Upload Conda package artifact
        uses: actions/upload-artifact@v4
        with:
          name: conda-package-${{ matrix.os }}-py${{ matrix.python-version }}
          path: ./conda-bld/**/barcodeforge*.tar.bz2
